body {
    margin: 0;
    padding: 0;
    background-image: url("https://imgur.com/dhfovty.jpg");
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #6d6767;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-color: rgba(89, 89, 89, 0.7);
}
.profile-info {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0px;
    color:rgb(4, 31, 206);
    font-size: 20pt;
    font-weight: bold;
}
  
h2 {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 5px;
    color: #3b2878;
    font-weight: bold;
    font-size: 15pt;
    text-align: left;
}
  
h3 {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 10px;
    padding: 5px;
    color: #f2b30d;
    font-weight: bold;
    font-size: 15pt;
}
  
p {
    margin: 10px;
    padding: 5px;
    color: black;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
}

.caption {
    margin: 10px;
    padding: 5px;
    color: black;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    font-style: italic; 
}

.profile-picture {
    flex: 0 0 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.profile-picture img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #6d6767; 
    background-image: url("images/iconbackground.png");
}

.profile-info p {
    color: #000000;
    margin-top: 5px;
}
.favorite-weapons {
    margin-top: 20px;
    flex: 0 0 200px; 
}
.favorite-weapons h3 {
    margin-bottom: 10px;
}
.favorite-weapons img {
    max-width: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b2878;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.ranks {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6d6767;
    color:rgb(4, 31, 206);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px;
    font-family: 'Poppins', sans-serif;

}

.button-text {
    margin-left: 5px; 
    margin-right: 5px; 
}

.button:hover {
    background-color: #593fad;
}

.icon {
    margin-right: 10px;
}